<div class="container">
    <footer>
        <div class="footer-content">
          <div class="left">
            <h3>Desarrollado con <div class="corazon"></div> por Adrián Soria García</h3>
          </div>
          <div class="right">
            <h3 class="redes">Sígueme en Redes Sociales</h3>
            <ul class="social-links">
              <li><a href="https://www.linkedin.com/in/adri%C3%A1n-soria-garc%C3%ADa-11a37a229" target="_blank"><i class="bi bi-linkedin"></i></a></li>
              <li><a href="https://github.com/adriansoriagarcia" target="_blank"><i class="bi bi-github"></i></a></li>
            </ul>
          </div>
        </div>
      </footer>      
</div>