<div class="container">
  <h1>Contacto</h1>
  <p>Si tienes alguna pregunta o duda, no dudes en ponerte en contacto conmigo través de correo:</p>
  <div class="contact-info">
    <i class="bi bi-envelope-fill"></i>
    <span>adriansoriagarcia97@hotmail.com</span>
  </div>
  <div class="contact-info">
    <i class="bi bi-telephone-fil"></i>
    <span></span>
  </div>
  <p>También puedes encontrarme en LinkedIn o GitHub.</p>
  <ul class="contact-methods">
    <li><a href="https://github.com/adriansoriagarcia" target="_blank" class="github">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/adri%C3%A1n-soria-garc%C3%ADa-11a37a229/" class="linkedin" target="_blank">LinkedIn</a></li>
  </ul>
</div>