<div class="container">

    <h1 class="titulo">Sobre mí</h1>
    <p>Mi nombre es Adrián Soria García soy un joven dinámico, proactivo, con ganas de aprender y desarrollarme laboralmente.<br>
    Actualmente soy titulado en Técnico Medio en Sistemas Microinformáticos y Redes, y Técnico Superior en Desarrollo de Aplicaciones Web.</p>
    <p>Cada día, actualizo y amplio conocimientos ante las tecnologías web como JavaScript, Angular, React y control de versiones como GitHub y Gitlab, con las que presento bastante experiencia y proyectos en mi sector.</p>
    <p>Me considero una persona comprometida, adaptable y con habilidades para trabajar en grupo. Además, ante adversidades o dificultades soy una persona responsable y capacitada para buscar soluciones competitivas y de manera eficiente.<br>
    Busco una oportunidad para desarrollar mis habilidades y competencias personales, además de poner en práctica lo aprendido en mis años de estudio.</p>
    <p>Por ello, mis ganas de aprender y de formar parte de vuestro equipo aumentan cada vez más, me apasiona la programación y ver hasta donde puedo llegar y dar lo mejor de mí, juntos.</p>
  
    <h1 class="formacion">Formación <i class="bi bi-mortarboard-fill"></i></h1>
    <dl>
        <dt>CFGM SISTEMAS MICROINFORMATICOS Y REDES</dt>
          <dd>IES Los Remedios | 2016 - 2018</dd> 
        <dt>CFGS DESARROLLO DE APLICACIONES WEB</dt>
          <dd>IES los remedios | 2021 - 2023</dd> 
    </dl>

      <section id="main-container">
        <div class="block">
            <h1>Habilidades <i class="bi bi-bookmarks-fill"></i></h1>
            <ul> 
                <li>Iniciativa</li> 
                <li>Organización</li> 
                <li>Trabajo en equipo</li> 
                <li>Capacidad de adaptación</li> 
                <li>Flexibilidad</li> 
                <li>Ganas de aprender</li> 
                <li>Productividad</li> 
            </ul>
        </div>
        <div class="block" id="comp">
            <h1>Competencias <i class="bi bi-code-slash"></i></h1>
            <ul> 
                <li>HTML <img src="../../assets/img/icons/html-5.png"></li> 
                <li>CSS <img src="../../assets/img/icons/css.png"></li> 
                <li>JAVASCRIPT <img src="../../assets/img/icons/js.png"></li> 
                <li>TYPESCRIPT <img src="../../assets/img/icons/typescript.png"></li> 
                <li>ANGULAR <img src="../../assets/img/icons/angularjs.png"></li> 
                <li>REACT <img src="../../assets/img/icons/react.svg"></li> 
                <li>NODE JS <img src="../../assets/img/icons/nodejs.png"></li> 
                <li>IONIC <img src="../../assets/img/icons/iónic.png"></li> 
                <li>PHP <img src="../../assets/img/icons/php.png"></li> 
                <li>LARAVEL <img src="../../assets/img/icons/laravel.png"></li> 
            </ul>
        </div>
        <div class="block">
            <h1>Idiomas <i class="bi bi-chat-dots-fill"></i></h1>
            <ul> 
                <li>Español | Nativo</li> 
                <li>Inglés | Medio</li> 
            </ul>
        </div>
      </section>
   

</div>